__pycache__/
src/Conformer/
sc/longformer/
src/Conformer/.git/
src/block-recurrent-transformer/
Dataset/
.DS_Store
*.txt
src_all_isoforms/*.h5
src_all_isoforms/*.txt
src_all_isoforms/MODEL
src_all_isoforms/data
*.fa
*.bed
src/MODEL/
src/INPUTS/Intersection/
slides/
results/
src/BAM_REF_Intersection/
src/INPUTS/
src_spliceNN/SpliceNN/build/
src_spliceNN/SpliceNN/libtorch/
SPLAM_C++/build/
SPLAM_C++/SPLAM/include/htslib/
src_intron_matcher/build/
src_intron_matcher/build/include/htslib
src/Experiment_SpliceAI/INPUTS/
src/Experiment_SpliceAI/models/
__pycache__/
.vscode
src/prev/
src/prev_MODEL/
src/5_GET_BAM_NEG_JUNCS/BAM_junctions/
src/6_GET_BAM_NEG_OPP_STRAND_JUNCS/BAM_junctions/
*.pkl
*.pt
*.bed
*.fa
src_reimplementation_keras_pytorch/MODEL/*
src_reimplementation_keras_pytorch/keras-transformer/*
paper
src_tools_evaluation/spliceai_result/
src_tools_evaluation/splam_result/
src_tools_evaluation/prev_res/
src_tools_evaluation/spliceai_result_prev/
src_tools_evaluation/splam_result/
src_tools_evaluation/spliceai_result/
src_tools_evaluation/Ida/
src_tools_evaluation/dataset/
src_tools_evaluation/IMG/
Figure/*.pptx
src_tools_evaluation/1st_res_noparalog/
