# sys
__pycache__/
.DS_Store
.vscode

# main dirs
Dataset/
slides/
results/
paper/
train/
benchmark/
src_spliceNN/
SPLAM_C++/
splam.egg-info/
dist/
build/
experiment/
test_diff_model/
spliceai_result*
*_output/
src/tmp_out*
test/tmp_out*
src/release/

# filetypes
*.pptx
*.gff
*.gff3
*.db
*.tsv
*.pkl
*.bed
*.fa
*.fasta
*.fai
*.bam 
*.bai
*.csv
*.pdf
*.txt
TODO

# custom exemptions
src/splam/helper.py 
!src/CMakeLists.txt
!docs/
!test/chr9_subset.fa 
!test/GRCm39_assembly_report.txt
!test/MANE.GRCh38.v1.1.subset.gff
!test/mouse_chr19.fa
!test/mouse_chr19.gff
!test/SRR1352129_chr9_sub.bam
