[submodule "SPLAM_C++/include/htslib"]
	path = SPLAM_C++/include/htslib
	url = https://github.com/samtools/htslib
[submodule "SPLAM_C++/include/spdlog"]
	path = SPLAM_C++/include/spdlog
	url = https://github.com/gabime/spdlog
[submodule "src/pybind11"]
	path = src/pybind11
	url = https://github.com/pybind/pybind11
[submodule "SPLAM_C++/pybind11"]
	path = SPLAM_C++/pybind11
	url = https://github.com/pybind/pybind11
