__pycache__/
train/src/Conformer/
sc/longformer/
train/src/Conformer/.git/
train/src/block-recurrent-transformer/
Dataset/
.DS_Store
*.fa
*.bed
train/src/MODEL
train/src/INPUTS/Intersection/
slides/
results/
spliceai_result*/
train/src/BAM_REF_Intersection/
train/src/INPUTS/
src_spliceNN/SpliceNN/build/
src_spliceNN/SpliceNN/libtorch/
SPLAM_C++/*
train/src/Experiment_SpliceAI/INPUTS/
train/src/Experiment_SpliceAI/models/
__pycache__/
.vscode
train/src/prev/
train/src/prev_MODEL/
train/src/5_GET_BAM_NEG_JUNCS/BAM_junctions/
train/src/6_GET_BAM_NEG_OPP_STRAND_JUNCS/BAM_junctions/
*.pkl
*.bed
*.fa
test/src_reimplementation_keras_pytorch/MODEL/*
test/src_reimplementation_keras_pytorch/keras-transformer/*
paper
src_tools_evaluation/*
benchmark/src_tools_evaluation/spliceai_result/
benchmark/src_tools_evaluation/spliceai_result_1/
benchmark/src_tools_evaluation/spliceai_result_2/
benchmark/src_tools_evaluation/spliceai_result_3/
benchmark/src_tools_evaluation/spliceai_result_4/
benchmark/src_tools_evaluation/spliceai_result_5/
benchmark/src_tools_evaluation/splam_result/
benchmark/src_tools_evaluation/prev_res/
benchmark/src_tools_evaluation/spliceai_result_prev/
benchmark/src_tools_evaluation/splam_result/
benchmark/src_tools_evaluation/spliceai_result/
benchmark/src_tools_evaluation/Ida/
benchmark/src_tools_evaluation/dataset/
benchmark/src_tools_evaluation/IMG/
Figure/*.pptx
benchmark/src_tools_evaluation/1st_res_noparalog/
test/src_reimplementation_keras_pytorch/
benchmark/src_tools_evaluation/splam_result_prev/
benchmark/src_pos_test/spliceai*
benchmark/src_pos_test/save/
benchmark/src_splam_cleanup/results/*
benchmark/src_splam_cleanup_STAR/results/*
benchmark/src_neg_test/SpliceAI/4_output/spliceai*
src/tmp_out/
__pycache__/
splam.egg-info/
dist/
build/
*.gff
*.gff3
*.db
