[submodule "SPLAM_C++/include/htslib"]
	path = SPLAM_C++/include/htslib
	url = https://github.com/samtools/htslib
[submodule "SPLAM_C++/include/spdlog"]
	path = SPLAM_C++/include/spdlog
	url = https://github.com/gabime/spdlog
